.user {
  flex: 4;
}

.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.userContainer {
  display: flex;
  margin-top: 20px;
}

.userShow {
  flex: 1;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.userShowTop {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.userShowJobTitle {
  display: flex;
  flex-direction: column;
}

.userShowUsername {
  font-weight: 600;
  font-size: 20px;
}

.userShowUserTitle {
  font-weight: 300;
}

.userShowTitle {
  font-size: 16px;
  font-weight: 600;
}

.userShowBottom {
  margin-top: 20px;
}

.userShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: #444;
}

.userShowIcon {
  font-size: 16px !important;
}

.userShowInfoTitle {
  margin-left: 10px;
}

.userUpdate {
  flex: 2;
  margin-left: 20px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.userUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.userUpdateImg {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  object-fit: cover;
}

.userUpdateTitle {
  font-size: 24px;
  font-weight: 600;
}

.userUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.userUpdateItem > label {
  margin-bottom: 5px;
  font-size: 16px;
}

.userUpdateInput {
  border: none;
  width: 250px;
  border-bottom: 1px solid grey;
  height: 30px;
}
.userUpdateUpload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userUpateButton {
}

.userUpdateIcon {
  cursor: pointer;
}

.userUpdateButton {
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: darkblue;
  color: #fff;
  font-weight: bold;
}
